:root {
  --main-color: #ff9800;
}
* {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  /* font-family: "Cairo", sans-serif; */
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Settings Box */
.settings-box {
  position: fixed;
  left: -250px;
  top: 0;
  background-color: white;
  border-right: 2px solid var(--main-color);
  width: 250px;
  min-height: 100vh;
  z-index: 10;
  transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
}
.settings-box.open {
  left: 0;
}
.settings-box .toggle-settings {
  position: absolute;
  right: -42px;
  top: 100px;
  background-color: white;
  text-align: center;
  cursor: pointer;
  border-radius: 0 6px 6px 0;
  -webkit-border-radius: 0 6px 6px 0;
  -moz-border-radius: 0 6px 6px 0;
  -ms-border-radius: 0 6px 6px 0;
  -o-border-radius: 0 6px 6px 0;
}
.settings-box.open .toggle-settings {
  border-bottom: 2px solid var(--main-color);
  border-top: 2px solid var(--main-color);
  border-right: 2px solid var(--main-color);
}
.settings-box .toggle-settings i {
  padding: 8px;
  width: 40px;
}
.settings-box .settings-container .option-box {
  padding: 10px;
  margin: 30px 10px 0px;
  background-color: #eee;
  text-align: center;
  border: 2px solid var(--main-color);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.settings-box .settings-container .option-box h4 {
  margin: 10px 0 0;
  color: #666;
}
.settings-box .settings-container .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
}
.settings-box .settings-container .option-box .colors-list li {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: inline-block;
  border: 2px solid transparent;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.settings-box .settings-container .option-box .colors-list li.active {
  border: 2px solid #fff;
}
.settings-box .settings-container .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .settings-container .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
.settings-box .settings-container .option-box .yes,
.settings-box .settings-container .option-box .no {
  background-color: var(--main-color);
  color: #fff;
  width: 50px;
  font-size: 14px;
  font-weight: bold;
  padding: 5px 0px;
  margin-top: 15px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.settings-box .settings-container .option-box span.active {
  opacity: 1;
}
.settings-box .reset-options {
  display: block;
  background-color: #f44336;
  color: #fff;
  border: none;
  width: 168px;
  margin: 30px auto;
  padding: 10px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
/* End Settings Box */

/* Start Nav Bullets */
.nav-bullets {
  position: fixed;
  width: 40px;
  right: 0;
  top: 50%;
  z-index: 11;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.nav-bullets .bullet {
  position: relative;
  width: 22px;
  height: 22px;
  right: 14px;
  margin: 15px auto;
  border: 3px solid var(--main-color);
  cursor: pointer;
  transition: 0.3s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.nav-bullets .bullet:hover {
  background-color: var(--main-color);
  border-color: #fff;
}
.nav-bullets .bullet .tooltip {
  position: absolute;
  background-color: var(--main-color);
  width: 130px;
  color: #fff;
  padding: 8px 8px;
  right: 35px;
  top: -10px;
  text-align: center;
  cursor: default;
  pointer-events: none;
  display: none;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.nav-bullets .bullet:hover .tooltip {
  display: block;
}
.nav-bullets .bullet .tooltip::before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent var(--main-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -19px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
/* End Nav Bullets */

/* Start Landing Page */
.landing-page {
  position: relative;
  min-height: 100vh;
  background-image: url(../imgs/01.jpg);
  background-size: cover;
  transition: background-image 1s;
  -webkit-transition: background-image 1s;
  -moz-transition: background-image 1s;
  -ms-transition: background-image 1s;
  -o-transition: background-image 1s;
}
.landing-page .overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.landing-page .header-area {
  position: relative;
  z-index: 2;
  color: white;
  display: flex;
  padding: 10px;
}
.landing-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}
.landing-page .header-area .links {
  list-style: none;
  text-align: right;
  padding: 0;
}
.landing-page .header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.landing-page .header-area .links li a {
  color: white;
  text-decoration: none;
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  -moz-transition: color 0.3s;
  -ms-transition: color 0.3s;
  -o-transition: color 0.3s;
}
.landing-page .header-area .links li a.active,
.landing-page .header-area .links li a:hover {
  color: var(--main-color);
}
.header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu::before {
  content: "";
  border-width: 15px;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  border-style: solid;
  bottom: -19px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.header-area .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 3px;
  margin-bottom: 5px;
}
.landing-page .introduction-text {
  position: absolute;
  z-index: 2;
  color: white;
  left: 50%;
  top: 50%;
  text-align: center;
  width: 80%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.landing-page .introduction-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
.landing-page .introduction-text h1 span {
  color: var(--main-color);
}
.landing-page .introduction-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}
@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .header-area .links.open {
    display: block;
    position: absolute;
    background-color: #fff;
    padding: 10px;
    width: 100%;
    left: 0;
    top: 50px;
    text-align: left;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
  .header-area .links.open li {
    display: block;
    margin: 10px;

  }
  .header-area .links.open li a {
    color: black;
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/* End Landing Page */

/* Start About Us */
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
}
.about-us .info-box {
  flex: 1;
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 10px;
}
.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .image-box {
  flex: 1;
  text-align: center;
}
.about-us .image-box img {
  width: 400px;
}
/* End About Us */

/* Start Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
.skills .skill-box .skill-progress {
  position: relative;
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  overflow: hidden;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background-color: var(--main-color);
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
/* End Skills */

/* Start Gallery */
.gallery {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallery h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallery .images-box {
  text-align: center;
}
.gallery .images-box img {
  width: 250px;
  padding: 3px;
  background-color: #f6f6f6;
  border: 1px solid var(--main-color);
  margin: 5px;
  cursor: pointer;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.popup-overlay {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.popup-box {
  position: fixed;
  left: 50%;
  top: 50%;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 21;
  border-radius: 6px;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.popup-box h3 {
  font-weight: bold;
  text-align: center;
  margin: 0 0 20px;
  color: var(--main-color);
}
.popup-box img {
  max-width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.close-button {
  position: absolute;
  top: -15px;
  right: -15px;
  color: white;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
/* End Gallery */

/* Start Timeline */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}
.timeline .timeline-content {
  display: flex;
  justify-content: space-between;
  gap: 70px;
  position: relative;
}
.timeline .timeline-content::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  height: 100%;
  width: 2px;
  left: 50%;
  top: 0;
  z-index: 1;
}
.timeline .timeline-content .year {
  position: absolute;
  margin: 20px auto;
  padding: 2px 5px;
  left: 50%;
  top: 4px;
  font-weight: bold;
  font-size: 18px;
  background-color: var(--main-color);
  color: #fff;
  z-index: 2;
  transform: translateX(-50%);
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.timeline .timeline-content .left,
.timeline .timeline-content .right {
  margin-bottom: 40px;
  position: relative;
}
.timeline .timeline-content .right {
  margin-top: 180px;
}
.timeline .timeline-content .left::before,
.timeline .timeline-content .right::before {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 18px;
  height: 18px;
  border: 1px solid #eee;
  outline: 1px solid var(--main-color);
  z-index: 3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.timeline .timeline-content .left::before {
  right: -46px;
  top: 25%;
}
.timeline .timeline-content .right::before {
  left: -44px;
  top: 50%;
}
.timeline .timeline-content .content {
  padding: 20px;
  background-color: #fff;
  margin-top: 60px;
}
.timeline .timeline-content .left .content::before,
.timeline .timeline-content .right .content::before {
  content: "";
  border-style: solid;
  border-width: 12px;
  height: 0;
  width: 0;
  position: absolute;
}
.timeline .timeline-content .left .content::before {
  border-color: transparent transparent transparent #fff;
  right: -24px;
  top: 101px;
}
.timeline .timeline-content .right .content::before {
  border-color: transparent #fff transparent transparent;
  left: -24px;
  top: 113px;
}
.timeline .timeline-content .content h3 {
  color: var(--main-color);
  margin: 0 0 10px;
}
.timeline .timeline-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
/* End Timeline */

/* Start Features */
.features {
  padding-top: 80px;
  padding-bottom: 80px;
}
.features h2 {
  font-size: 30px;
  color: var(--main-color);
  margin: 0 0 60px;
  text-align: center;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 40px 10px;
}
.features .container .feat-box {
  text-align: center;
}
.features .container .feat-box img {
  width: 128px;
}
.features .container .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}
.features .container .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--main-color);
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.features .container .feat-box p {
  width: 80%;
  margin: 0 auto;
  line-height: 1.6;
  color: #777;
  font-size: 18px;
}
/* End Features */

/* Start Testimonials */
.testimonials {
  position: relative;
  padding-top: 60px;
  padding-bottom: 60px;
}
.testimonials::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: var(--main-color);
  z-index: -1;
}
.testimonials::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: #333;
  z-index: -1;
}
.testimonials h2 {
  font-size: 30px;
  color: white;
  margin: 0 0 60px;
  text-align: left;
}
.testimonials .testimonials-content {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  justify-items: center;
  gap: 20px;
}
.testimonials .testimonials-content .ts-box {
  background-color: white;
  padding: 20px;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.testimonials .testimonials-content .ts-box > p {
  margin: 0 0 20px;
  line-height: 1.5;
  font-size: 18px;
  color: #707070;
  font-style: italic;
}
.testimonials .testimonials-content .ts-box .person-info {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.testimonials .testimonials-content .ts-box .person-info .text-info {
  padding: 5px;
}
.testimonials .testimonials-content .ts-box .person-info img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.testimonials .testimonials-content .ts-box .person-info .text-info h4 {
  margin: 0 0 5px;
}
.testimonials .testimonials-content .ts-box .person-info .text-info p {
  color: #707070;
  font-size: 15px;
  margin: 0;
}
/* End Testimonials */

/* Start Contact Us */
.contact-us {
  min-height: 600px;
  background-image: url(../imgs/contact.png);
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
.contact-us .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.4); */
  background-color: rgb(255 255 255 / 40%);
}
.contact-us .container {
  position: relative;
  z-index: 2;
}
.contact-us h2 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  text-align: center;
}
.contact-us form {
  display: flex;
  gap: 20px;
}
.contact-us form .left {
  flex: 1;
}
.contact-us form .right{
  flex: 1;
}
.contact-us form input,
.contact-us form textarea {
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto 15px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.contact-us form textarea {
  resize: none;
  height: 170px;
}
.contact-us form [type="submit"] {
  background-color: var(--main-color);
  border-color: transparent;
  color: white;
  font-weight: bold;
}
.contact-us form input:not([type="submit"]):focus,
.contact-us form textarea:focus {
  outline: 1px solid var(--main-color);
}
.contact-us form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact-us form textarea:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
/* End Contact Us */

/* Start Grid System */
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
